body{

}

#Toolbar{
width: 100%;
height: 1000px;


}

#stopwatch{
height: 50px;
width: 50px;
float: left;
}

#gameManual{
height: 50px;
width: 50px;
float: left;
}

#Title{
float: left:
}

#resetButton{
height: 50px;
width: 50px;
float: right;


}

