body{
}

#Toolbar{
width: 100%;
height: 100px;
}

#stopwatch{
height: 50px;
width: 50px;
float: left;
}

#gameManual{
height: 50px;
width: 50px;
float: left;
}

#Title{
float: left;
}

#resetButton{
height: 50px;
width: 50px;
float: right; 
}

.cube{
height: 50px;
width: 50px;
}

#scoreBoxes{
width: 100%;
}

#RedScoreBox{
background: red;
width: 40.2%;
display: inline-block;
border-radius: 15px;
text-align: center;
padding: 15px;
height: auto;
}

#BlueScoreBox{
background:blue;
width: 45%;
display: inline-block;
border-radius: 15px;
text-align: center;
padding: 15px;
margin: 0px 0px 0px 156px;
height: auto;

}

.plus,.minus,.cube{
height: 100px;
width: 100px;
padding: 75px, 75px, 75px, 75px
}

.tower{
height:300px;
width: 250px;
}

#orangeTower, #greenTower, #purpleTower{
display: inline;
padding: 70px;
}

h1 {
display: inline;
height:300px;
width: 250px;
}

#orangeTower, #greenTower, #purpleTower{
display: inline;
padding: 75px;
}